# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [6]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [12]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1
print(result_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [14]:
result_mul = num1 * num2
print(result_mul)

result_mul *=2
print(result_mul)

10.8
21.6

##### Division

In [19]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [22]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [26]:
result_mod = 10 % 3
print(result_mod)

result_mod %=2 
print(result_mod)

1
1

##### Exponential

In [28]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [31]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [36]:
print("This is my first name: ", name)


print("Full Name: ", name, end= " Apol")

This is my first name:  Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [40]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [45]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [52]:
# input will always return a string



age = int(input("what is your age?: "))
add_age =  age + 5
print(add_age)

what is your age?: 78
83

##### format()

In [57]:
age = input("what is your age?: ")

result_string = "You are {} {} and you are getting wiser!" .format (age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

what is your age?: 12
You are 12 corey and you are getting wiser!
12 is a great time in life!!!

##### Old Way (python 2)

In [58]:
result_string2 =   " you are %s and you look great for your age" %age
print(result_string2)

 you are 12 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [68]:
color = input("What color is your vehicle?: ")
year =  input("What year is your vehicle?: ")
make = input("What is the make of your vehicle?: ")
model = input("What model is your vehicle?: ")
result_string = "Your {} vehicle's year is {}, and it is a {}, {}!" .format (color,year,make,model)
print(result_string)

What color is your vehicle?: red
What year is your vehicle?: 2018
What is the make of your vehicle?: Chevy
What model is your vehicle?: Silverado
Your red vehicle's year is 2018, and it is a Chevy, Silverado!

### If Statements

In [93]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print("is equal value!")
# else:
#     print("not equal")
    
if num2 < num1 or num3 > 0:
    print("This ran")
# elif num1 > num2:
#     print("num1 is greater")
else:
    print("You are here")

You are here

##### 'is' keyword

In [94]:
# the "is" keywoord is for checking fror the same object but not the same value

num3 = 55
if num3 is 55:
    print("this is the exact number or object")

this is the exact number or object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\corey\AppData\Local\Temp\ipykernel_14196\852084369.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [95]:
# check if a character is in a string

char_name = "frodo baggins"

if "frodo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [96]:
sega_char = "sonic"

if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [101]:
name = input("Enter your name: ")
if "p" in name:
    print("The letter P is in your name")
if "p" not in name:
    print("The letter P is NOT in your name")

Enter your name: phillip
The letter P is in your name

## Using 'and'/'or' with If Statements

In [104]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 -7 == num_14:
    print("True and True")
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [109]:
first_name = input("what is your name? ")

if first_name == "Smith":
    print("the name is Smith")
elif first_name == "brandon":
    print("the name is brandon")
elif first_name != "max":
    print("the name is NOt max")
else:
    print("the name is max")

what is your name? max
the name is max

### Else Statements

In [ ]:
# see above

### For Loops

In [113]:
# syntax:
# for counter in keyword, condition

name = "Brandon Apol"
print(name)

for letter in name:
    print(letter)

Brandon Apol
B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [117]:
name = "brandon apol"

for i in name:
    if i == "a":
        continue
    print(i)

b
r
n
d
o
n

p
o
l

##### Break Statement

In [ ]:
# will break out of current loop

In [118]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [119]:
for i in name:
    pass

##### Double For Loops

In [120]:
for i in range(5):
    for j in range(5):
        print("i = ", i , "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [121]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [124]:
game_over = True

while game_over:
    print("infinite loop")
    user_input = input("would you like to stop? ")
    if user_input == "yes":
        game_over = False

infinite loop
would you like to stop? no
infinite loop
would you like to stop? no
infinite loop
would you like to stop? no
infinite loop
would you like to stop? yes

##### While & For Loops Used Together

In [126]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i))
        
    num += 1

 While loop iteration: 0
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 1
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 2
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 3
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [129]:
# range = start, stop, step
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [131]:
name = input("give me the name of your favorite book: ")
length = len(name)

print(length)

give me the name of your favorite book: lord of the rings
17

##### help()

In [133]:
# use this function to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [141]:
# check a variable to find out what object family or data type it belongs to
# isinstance( var, type)
num = input("pick a number: ")

if isinstance(int(num), int):
    print(f"{num} is an int")
else: 
    print(f"{num} is a float")

pick a number: 5
5 is an int

##### abs()

In [142]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [153]:
# use this to log out graceful and useful error messages
# does not stop the program! neato!

# input_num = int(input('guess the number: '))
#     print("your number is " + str(input_num))
    
try:
   
    input_num = int(input('guess the number: '))
    print("your number is " + str(input_num))
except:
    print("that didnt work, change your input to a number!")

guess the number: 8.5
that didnt work, change your input to a number!

### Lists

##### Declaring Lists

In [176]:
list_1 = []

names = ['max','cindy','kathy','bob','nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [177]:
#list_name [start: stop: step:]

#single index
print(names[3])

#print starting at index 1 and going to the end
print(names[1:])

#print starting at the beginning of a list up until a number
print(names[:2])

#print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at the back and present in reverse order
print(names[::-1])

bob
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [178]:
names.append('brandon')
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'brandon']

##### .insert()

In [179]:
names.insert(3,"devon")
print(names)

['max', 'cindy', 'kathy', 'devon', 'bob', 'nate', 'brandon']

##### .pop()

In [180]:
# defaults to the last value if no peramiter is given
# pop returns the element that was removed, in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

kathy
['max', 'cindy', 'devon', 'bob', 'nate', 'brandon']


##### .remove()

In [184]:
# value to be removed rather than index
# names.remove('bob')
#print(names)

# remove multiple brandons from list
while 'brandon' in names:
    names.remove('brandon')
print(names)

['max', 'devon', 'nate']

##### del()

In [185]:
#goes by index
#be careful it can cause indexing errors if not used carefully

del(names[1])
print(names)

['max', 'nate']

##### Concatenating Two Lists

In [189]:
#will append two lists together, will nNOT add the values

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [191]:
#lists can hold any type of other elements, including other lists
#they can go as deep as you want.
#this is called nested list

names = ['max','sam','josh',['sally',['sue','jim'], 'tameka']]
print(names)
print(names[3][1][1])

['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
jim

##### Looping Through Lists

In [193]:
#two ways to loop through a list one by using the index, other by using the 'in' keywordk

for i in range(len(names)):
    print(names[i])
    
    #loop with in
    
for i in names:
    print(i)

max
sam
josh
['sally', ['sue', 'jim'], 'tameka']
max
sam
josh
['sally', ['sue', 'jim'], 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [227]:
for i in range(1000):
    if i == 11:
        break
    print(i **3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [239]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for i in range(1,100):
    for j in range(2,(i + 1)):
        if i%j == 0:
            if i == j:
                print(i)
            break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [246]:
age = int(input("What is your age?: "))

if age < 18:
    print("kids")
elif age > 65:
    print("seniors")
else:
    print("adults")

What is your age?: 69
seniors